#left_side{
    width:180px;
    min-height: 100vh;
    background-color: #263238;
    color: #fff;
}
#main_content{margin-left: 10px}
.top-toolbar{
    background: #263238;
    padding: 5px 10px;
    border-radius: 4px;
}

/*Side nav bar*/
#side_nav{margin: 0;padding: 0;text-align: left;}
#side_nav .divider{margin: 10px 0;height: 1px;background-color: rgba(255,255,255,.1);}
#side_nav .glyphicon{bottom:-2px;}
#side_nav li{margin: 3px 0;}
#side_nav li.item{position: relative;}
    #side_nav li.item:hover{background-color: rgba(0,0,0,.2)}
    #side_nav li.item:active{background-color: rgba(0,0,0,.5)}
        #side_nav li.item div.text{text-transform: capitalize;cursor: pointer;padding: 10px 0 10px 10px}
        #side_nav li.text_label div{padding-left: 5px; color: #6f6f6f}
        #side_nav li.item div:after{
            content: "\25b6";
            font-size: 16px;
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -8px;
            right: 10px;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
        }
    #side_nav li div.active{background-color:rgba(51, 122, 183, 0.55)}
    #side_nav li div.input{text-align: center}
    #side_nav li div input{width: 80%;border: none;background-color: rgba(0,0,0,0.4);padding: 4px 2px;border-radius: 4px}
    #side_nav li.no_arrow div:after{content: none;}
    #side_nav li.add_check div:after{content:'\2714 ';/*Check*/color: rgba(225,225,225,.4)}
    #side_nav li.add_check div.active:after{content:'\2714 ';/*Check*/color: inherit}
/*Level 2*/
#side_nav li ul{
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    right: -100%;
    background: rgb(67, 88, 99);
    list-style: none;
    top: 0;
    z-index: 200;
    box-shadow: 3px 3px 10px 0 rgba(56,56,56,1);
}
#side_nav li:hover ul{display:block}
#side_nav li ul li{width: 180px;}

.last_update{margin: 0 1px}
.last_update p{font-size: 14px;color: #5a5a5a;}
.last_update p span{font-size: 14px;color: #222222;}

.main_loading_indicator{text-align: center}


@media(min-width:1200px){
    #main_content{padding-left: 180px;/*Matches Sidebar Width*/}
}
@media(min-width:992px){
    #main_content{padding-left: 180px;/*Matches Sidebar Width*/}
}
@media(min-width:768px){}
@media(max-width:767px){}

/*BT Changes*/
#main_content .row:after{clear:right}

