.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #d1f4fe;
}

.top-toolbar{
    margin: 10px 0;
}

.done_task{
    text-decoration: line-through;
}
.done_task_info{
    font-size: 85%;
    font-style: italic;
    color: #f0f0f0;
    float: right;
}
.done_task_info > hr {
    margin: 12px 0 1px 0;
}
.table>tbody>tr.done>td, .table>tbody>tr.done>th, .table>tbody>tr>td.done, .table>tbody>tr>th.done, .table>tfoot>tr.done>td, .table>tfoot>tr.done>th, .table>tfoot>tr>td.done, .table>tfoot>tr>th.done, .table>thead>tr.done>td, .table>thead>tr.done>th, .table>thead>tr>td.done, .table>thead>tr>th.done
{
    background-color: #9e9e9e;
}

#main-table-header td{
    cursor: pointer;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

#a_task_desc,#a_task_desc{
    resize: vertical;
}

.p_normal,.p_top,.p_vhigh,.p_high,.p_low{}
.p_top{border-left: solid 3px red !important;}
.p_vhigh{border-left: solid 3px orange !important;}
.p_high{border-left: solid 3px #2781c2 !important;}
.p_low{border-left: solid 3px #5f2f13 !important;}

.task_content{cursor: pointer;}

.v_divider{display: inline}

.toast-item p {
    text-transform: capitalize;
}

#loading_indicator{
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 9999;
    padding: 5px;
    background-color: rgba(0,0,0,0.8);
    color: #e8e8e8;
    display: none;
}