<div id="showTaskModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Task ID #{{data.id}} Detail</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center">Current Status:
                    <span ng-show="data.is_finish == 1">Finished</span>
                    <span ng-show="data.is_finish != 1">In Progress</span>
                </p>
                <p>Posted By {{data.pub_name}}</p>
                <p>Date: {{data.pub_date}}</p>
                <p>Priority Level:
                    <span ng-show="data.priority > 2">Top Priority</span>
                    <span ng-show="data.priority == 2">Very High</span>
                    <span ng-show="data.priority == 1">High</span>
                    <span ng-show="data.priority < 0">Low</span>
                    <span ng-hide="data.priority > 0 || data.priority < 0">Normal</span>
                </p>
                <hr style="margin: 5px 0"/>
                <p style="padding-left:10px;padding-right:10px;white-space: pre-wrap">{{data.task_desc}}</p>
                <p style="text-align: right; font-size: 90%" ng-show="data.is_finish == 1">Finished At {{data.finish_date}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" ng-click="deleteFunc({id:data.id})" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-primary" ng-show="data.is_finish != 1" ng-click="finishFunc({id:data.id , val:1})" data-dismiss="modal">Finish</button>
                <button type="button" class="btn btn-default" ng-show="data.is_finish == 1" ng-click="finishFunc({id:data.id , val:0})" data-dismiss="modal">In Progress</button>
                <button type="button" class="btn btn-primary" ng-click="editFunc({task:data})" data-dismiss="modal">Edit</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->