<!-- Button trigger modal -->
<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form" name="addTaskForm" ng-submit="addTaskFunc({pub_name:a_pub_name,task_desc:a_task_desc,priority:a_task_priority});">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add A Task</h4>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label for="a_pub_name">Name</label>
                            <input type="text" class="form-control" id="a_pub_name" placeholder="Your Name"
                                   ng-model="a_pub_name">
                        </div>
                        <div class="form-group">
                            <label for="a_task_desc">Description</label>
                            <textarea class="form-control" id="a_task_desc" ng-model="a_task_desc"
                                      placeholder="Description of the task"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="a_task_priority">Priority</label>
                            <select class="form-control" id="a_task_priority" ng-init="a_task_priority = '0'" ng-model="a_task_priority">
                                <option value="3">Top</option>
                                <option value="2">Very High</option>
                                <option value="1">High</option>
                                <option value="0" selected="selected">Normal</option>
                                <option value="-1">Low</option>
                            </select>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" ng-click="resetForm()">Reset</button>
                    <button class="btn btn-primary" type="submit">Add Task</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Button trigger modal -->
<div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form" ng-submit="editTaskFunc({ id:e_id , data: {pub_name:e_pub_name,task_desc:e_task_desc,priority:e_task_priority} });">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Edit Task</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="e_pub_name">Name</label>
                        <input type="text" class="form-control" id="e_pub_name" placeholder="Your Name"
                               ng-model="e_pub_name">
                    </div>
                    <div class="form-group">
                        <label for="e_pub_name">Description</label>
                            <textarea class="form-control" id="e_task_desc" rows="3" ng-model="e_task_desc"
                                      placeholder="Description of the task"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="e_task_priority">Priority</label>
                        <select class="form-control" id="e_task_priority" ng-model="e_task_priority">
                            <option value="3">Top</option>
                            <option value="2">Very High</option>
                            <option value="1">High</option>
                            <option value="0">Normal</option>
                            <option value="-1">Low</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" ng-click="resetForm()">Reset</button>
                    <button class="btn btn-primary" type="submit">Edit Task</button>
                </div>
                <input type="hidden" ng-model="e_id" />
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->