<form ng-submit="member_login(login_form_data);">
    <div class="modal fade" tabindex="-1" role="dialog" id="member_login_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4></h4>
                </div>
                <div class="modal-body">
                    <h4 class="">Member Login</h4>
                    <div>Guest Login: guest/password</div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                            <input type="text" class="form-control" id="member_username" placeholder="Username"
                                   ng-model="login_form_data.username" autocorrect="off" autocapitalize="none">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input type="password" class="form-control" id="member_password" placeholder="Password"
                                   ng-model="login_form_data.password">
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="login_form_data.remember"> Remember Me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary form-control">Login</button>
                    <span class="pull-right">Sign up for member</span>
                </div>
                <div class="modal-footer" style="border-top:none"></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>

<form ng-submit="member_signup(signup_form_data)">
    <div class="modal fade" tabindex="-1" role="dialog" id="member_signup_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4></h4>
                </div>
                <div class="modal-body">
                    <h4 class="">Member Signup</h4>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                            <input type="text" class="form-control" id="signup_username" placeholder="Username"
                                   ng-model="signup_form_data.username" autocorrect="off" autocapitalize="none">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input type="password" class="form-control" id="signup_password" placeholder="Password"
                                   ng-model="signup_form_data.password">
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input type="password" class="form-control" id="signup_password_repeat" placeholder="Password Repeat"
                                   ng-model="signup_form_data.password_repeat">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-send"></span></div>
                            <input type="email" class="form-control" id="signup_email" placeholder="Email"
                                   ng-model="signup_form_data.email">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary form-control">Signup</button>
                    <span class="pull-right">Already a member, login here</span>
                </div>
                <div class="modal-footer" style="border-top:none"></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>